.contact-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.contact-form-input {
  width: 18vw;
  padding-left: 1vh;  
  outline: none;
  color: darkblue;
}

.contact-form-input,
.submit-button {
  height: 5vh;
  font-size: 2vh;
  margin: 1vw;
  border: none;
  border-radius: 1vh;  
}

::placeholder {
  color: #00008b8e;
}

.submit-button {
  cursor: pointer;
  padding: 0.5vw;
  background-color: darkblue;
  color: #fff;
}